<!-- Header -->
<header>
    <div class="container" id="maincontent" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive img-circle" src="https://github.com/sedelacerda.png?size=200" alt="">
                <div class="intro-text">
                    <h6 class="name">Sebastián de la Cerda M.</h6>
                    <hr class="star-light">
                    <span class="skills">
                      Ingeniero Civil Industrial en Tecnologías de la Información
                      <br/>
                      Pontificia Universidad Católica de Chile
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
   <div class="container">
       <div class="row">
           <div class="col-lg-12 text-center">
               <h2 style="color:#2196F3">Portfolio</h2>
               <hr class="star-primary">
           </div>
       </div>
       <div class="row">
           <div class="col-sm-4 portfolio-item">
               <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                   <div class="caption">
                       <div class="caption-content">
                           <i class="fa fa-search-plus fa-2x"></i>
                           <p> SandiApp </p>
                       </div>
                   </div>
                   <%= image_tag("sandiapplogo_xxxhdpi.png", class: "img-responsive portfolio-image", size: "200", alt: "SandiApp") %>
               </a>
           </div>
           <div class="col-sm-4 portfolio-item">
               <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                   <div class="caption">
                       <div class="caption-content">
                           <i class="fa fa-search-plus fa-2x"></i>
                           <p> Integración de embebidos </p>
                       </div>
                   </div>
                   <%= image_tag("trademedia.png", class: "img-responsive portfolio-image", size: "200", alt: "Sistema automatizado de fábrica") %>
               </a>
           </div>
           <div class="col-sm-4 portfolio-item">
               <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                   <div class="caption">
                       <div class="caption-content">
                           <i class="fa fa-search-plus fa-2x"></i>
                           <p> Utilización de embebidos en el hogar </p>
                       </div>
                   </div>
                   <%= image_tag("beacon.png", class: "img-responsive portfolio-image", size: "200", alt: "Sistema automatizado de fábrica") %>
               </a>
           </div>
           <div class="col-sm-4 portfolio-item">
               <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                   <div class="caption">
                       <div class="caption-content">
                           <i class="fa fa-search-plus fa-2x"></i>
                           <p> Sistema automatizado de fábrica </p>
                       </div>
                   </div>
                   <%= image_tag("automatization.png", class: "img-responsive portfolio-image", alt: "Sistema automatizado de fábrica") %>
               </a>
           </div>
           <div class="col-sm-4 portfolio-item">
               <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                   <div class="caption">
                       <div class="caption-content">
                           <i class="fa fa-search-plus fa-2x"></i>
                       </div>
                   </div>
                   <img src="img/portfolio/safe.png" class="img-responsive" alt="Safe">
               </a>
           </div>
           <div class="col-sm-4 portfolio-item">
               <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                   <div class="caption">
                       <div class="caption-content">
                           <i class="fa fa-search-plus fa-2x"></i>
                       </div>
                   </div>
                   <img src="img/portfolio/submarine.png" class="img-responsive" alt="Submarine">
               </a>
           </div>
       </div>
   </div>
</section>

<!-- About Section -->
<section class="success" id="about">
   <div class="container">
       <div class="row">
           <div class="col-lg-12 text-center">
               <h2>Sobre mi</h2>
               <hr class="star-light">
           </div>
       </div>
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2">
               <p style="text-align:justify">
                 Estuve en el <a style="color:white" href="http://www.colegiosanisidro.cl/">Colegio San Isidro</a> de Buin y ahora me
                 encuentro cursando mi último año de ingeniería civil en la <a href="www.uc.cl" target="_blank">Universidad Católica de Chile</a>.
                 Desde siempre me ha gustado la tecnología en todas sus formas, lo cual me ha impulsado a aprender por cuenta propia
                 y desarrollar proyectos personales como un estilo de hobby. Además, me gusta la mecánica y esquiar. Me encantan los
                 desafíos, así como tambien resolver problemas concretos.
               </p>
           </div>
           <div class="col-lg-8 col-lg-offset-2 text-center">
             <%= link_to(download_cv_path, class: 'btn btn-lg btn-download', target: "_blank") do %>
               <i class="fa fa-download"></i> Descargar CV
             <% end %>
           </div>
       </div>
   </div>
</section>

<!-- Contact Section -->
<section id="contact">
   <div class="container">
       <div class="row">
           <div class="col-lg-12 text-center">
               <h2 style="color:#2196F3">Contacto</h2>
               <hr class="star-primary">
           </div>
       </div>
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2">
               <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
               <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
              <%= form_for(:contact, url: do_contact_path, name: "sentMessage", id: "contactForm", remote: true) do |form| %>

                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="name">Nombre</label>
                        <%= form.text_field :name, class: "form-control", placeholder: "Nombre", id: "name", required: true %>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="email">Email</label>
                        <%= form.text_field :email, class: "form-control", placeholder: "Email", id: "email", required: true %>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="phone">Número de teléfono</label>
                        <%= form.text_field :phone_number, class: "form-control", placeholder: "Número de teléfono", id: "phone", required: true %>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="message">Mensaje</label>
                        <%= form.text_area :message, class: "form-control", placeholder: "Mensaje", id: "message", required: true %>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <%= form.submit "Enviar", class: "btn btn-success btn-lg pull-right", id: "submit-contact"  %>
                    </div>
                </div>
              <% end  %>
           </div>
       </div>
   </div>
</section>

<!-- Footer -->
<footer class="text-center">
   <div class="footer-above">
       <div class="container">
           <div class="row">
               <div class="footer-col col-md-4">
                   <h3>Ubicación</h3>
                   <p>Santiago, Chile</p>
               </div>
               <div class="footer-col col-md-4">
                   <h3>Encuéntrame en</h3>
                   <ul class="list-inline">
                       <li>
                           <a href="https://www.facebook.com/sebadelacerda" class="btn-social btn-outline" target="_blank"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                       </li>
                       <li>
                           <a href="https://github.com/sedelacerda" class="btn-social btn-outline" target="_blank"><span class="sr-only">GitHub</span><i class="fa fa-fw fa-github"></i></a>
                       </li>
                       <li>
                           <a href="https://www.linkedin.com/in/sebasti%C3%A1n-de-la-cerda-molina-495a10a2/" class="btn-social btn-outline" target="_blank"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
                       </li>
                   </ul>
               </div>
               <div class="footer-col col-md-4">
                   <h3>About Freelancer</h3>
                   <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
               </div>
           </div>
       </div>
   </div>
   <div class="footer-below">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   Copyright &copy; Your Website 2016
               </div>
           </div>
       </div>
   </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
   <a class="btn btn-primary" href="#page-top">
       <i class="fa fa-chevron-up"></i>
   </a>
</div>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-content">
       <div class="close-modal" data-dismiss="modal">
           <div class="lr">
               <div class="rl">
               </div>
           </div>
       </div>
       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                   <div class="modal-body">
                       <h2 style="color:#2196F3">SandiApp</h2>
                       <hr class="star-primary">
                       <%= image_tag("sandiapplogo_xxxhdpi.png", class: "img-responsive img-centered", alt: "SandiApp") %>
                       <p style="text-align:justify">
                         Esta aplicación móvil tiene el objetivo de proveer a los habitantes de Chile una plataforma para poder realizar denuncias
                         de carácter público de manera cómoda y rápida. De esta forma se pretende dar a conocer esta información a los municipios
                         u otras entidades públicas para llegar a una solución concreta. SandiApp fue desarrollada en un grupo de 4 personas y se
                         presentó en el concurso internacional de desarrollo de aplicaciones móviles <a href="https://www.tuapp.org/">TuApp</a>
                         logrando llegar a la final realizada en Viña del Mar (Chile), pero sin obtener ningún reconocimiento.
                       </p>
                       <ul class="list-inline item-details">
                           <li>Fecha:
                               <strong>Diciembre de 2015</a>
                               </strong>
                           </li>
                           <li>Tecnologías:
                               <strong>
                                 Android, Java, Firebase, Git
                               </strong>
                           </li>
                           <li>Repositorio:
                               <strong>
                                 <a href="https://github.com/sedelacerda/SandiApp" target="_blank">
                                   Repositorio privado
                                 </a>
                               </strong>
                           </li>
                       </ul>
                       <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-content">
       <div class="close-modal" data-dismiss="modal">
           <div class="lr">
               <div class="rl">
               </div>
           </div>
       </div>
       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                   <div class="modal-body">
                       <h2 style="color:#2196F3">Integración de embebidos</h2>
                       <hr class="star-primary">
                       <%= image_tag("trademedia.png", class: "img-responsive img-centered", alt: "Integración de embebidos") %>
                       <p style="text-align:justify">
                         En un grupo de 10 personas se construyó una extensión de la plataforma de la empresa
                         <a href="https://www.trademedia.cl/" target="_blank">TradeMedia</a> con el objetivo de integrar
                         <a href="https://kontakt.io/beacon-basics/what-is-a-beacon/" target="_blank" title="Qué es un beacon?" data-toggle="tooltip">beacons</a>
                         (dispositivos embebidos). El desarrollo estuvo compuesto por una extensión de plataforma web, API, aplicación
                         de TV y un desarrollo completo del software utilizado en la
                         <a href="http://www.abc.es/tecnologia/informatica-hardware/20130716/abci-raspberry-como-201307151936.html" target="_blank" title="Qué es una Raspberry Pi?" data-toggle="tooltip">Raspberry Pi</a> más
                         2 aplicaciones móviles para Android y iOS.
                       </p>
                       <ul class="list-inline item-details">
                           <li>Fecha:
                               <strong>Junio de 2017</a>
                               </strong>
                           </li>
                           <li>Tecnologías:
                               <strong>Ruby on Rails, Python, SQL, Go, Samsung SDK, Angular, BLE, Beacons, Raspberry Pi, Git
                               </strong>
                           </li>
                           <li>Repositorio:
                             <strong>Repositorio privado
                             </strong>
                           </li>
                       </ul>
                       <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-content">
       <div class="close-modal" data-dismiss="modal">
           <div class="lr">
               <div class="rl">
               </div>
           </div>
       </div>
       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                   <div class="modal-body">
                       <h2 style="color:#2196F3">Project Title</h2>
                       <hr class="star-primary">
                       <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="">
                       <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                       <ul class="list-inline item-details">
                           <li>Client:
                               <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                               </strong>
                           </li>
                           <li>Date:
                               <strong><a href="http://startbootstrap.com">April 2014</a>
                               </strong>
                           </li>
                           <li>Service:
                               <strong><a href="http://startbootstrap.com">Web Development</a>
                               </strong>
                           </li>
                       </ul>
                       <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-content">
       <div class="close-modal" data-dismiss="modal">
           <div class="lr">
               <div class="rl">
               </div>
           </div>
       </div>
       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                   <div class="modal-body">
                       <h2 style="color:#2196F3">Project Title</h2>
                       <hr class="star-primary">
                       <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="">
                       <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                       <ul class="list-inline item-details">
                           <li>Client:
                               <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                               </strong>
                           </li>
                           <li>Date:
                               <strong><a href="http://startbootstrap.com">April 2014</a>
                               </strong>
                           </li>
                           <li>Service:
                               <strong><a href="http://startbootstrap.com">Web Development</a>
                               </strong>
                           </li>
                       </ul>
                       <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-content">
       <div class="close-modal" data-dismiss="modal">
           <div class="lr">
               <div class="rl">
               </div>
           </div>
       </div>
       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                   <div class="modal-body">
                       <h2 style="color:#2196F3">Project Title</h2>
                       <hr class="star-primary">
                       <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                       <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                       <ul class="list-inline item-details">
                           <li>Client:
                               <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                               </strong>
                           </li>
                           <li>Date:
                               <strong><a href="http://startbootstrap.com">April 2014</a>
                               </strong>
                           </li>
                           <li>Service:
                               <strong><a href="http://startbootstrap.com">Web Development</a>
                               </strong>
                           </li>
                       </ul>
                       <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-content">
       <div class="close-modal" data-dismiss="modal">
           <div class="lr">
               <div class="rl">
               </div>
           </div>
       </div>
       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                   <div class="modal-body">
                       <h2 style="color:#2196F3">Project Title</h2>
                       <hr class="star-primary">
                       <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                       <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                       <ul class="list-inline item-details">
                           <li>Client:
                               <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                               </strong>
                           </li>
                           <li>Date:
                               <strong><a href="http://startbootstrap.com">April 2014</a>
                               </strong>
                           </li>
                           <li>Service:
                               <strong><a href="http://startbootstrap.com">Web Development</a>
                               </strong>
                           </li>
                       </ul>
                       <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>

<script>



</script>
