<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @user[:name].to_s %> te ha contactado!</h3>
    <p>
      <strong>Nombre:</strong> <%= @user[:name].to_s %>
    </p>
    <p>
      <strong>Email:</strong> <%= @user[:email].to_s %>
    </p>
    <p>
      <strong>Número de teléfono:</strong> <%= @user[:phone_number].to_s %>
    </p>
    <p>
      <strong>Mensaje:</strong> <%= @user[:message].to_s %>
    </p>
  </body>
</html>
